@use "../utils" as u;

.Header {
  position: relative;
  // display: flex;
  // flex-direction: column;
  gap: 16.3rem;

  &__title {
    padding: 2.4rem;
    padding-top: 2.6rem;
    border: 0.2rem solid var(--white);
    max-width: 12ch;

    @include u.breakpoint("medium") {
      max-width: 14ch;
    }
  }

  &__navbar {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button[data-type="open"] {
      cursor: pointer;
      background: transparent;
      border: none;

      @include u.breakpoint("medium") {
        display: none;
      }
    }

    & button[data-type="close"] {
      display: none;
    }
  }

  &__image {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__overlay-wrapper {
    position: relative;

    & > .Nav-links[data-section="overlay"] {
      position: absolute;
      top: 0rem;
      transform: translateX(-100%);
    }
  }

  // &__navbar {
  //   position: absolute;
  //   top: 0rem;
  // }
}
