@use "../utils" as u;

.Header {
  position: relative;
  padding-bottom: 22.7rem;

  &__overlay {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--black);
    z-index: 5;
    padding: 4rem 2.4rem 22.3rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 15.9rem;
    transition: transform 0.3s ease-out;

    &[data-state="close"] {
      visibility: hidden;
      transform: translateX(-100%);
    }

    &[data-state="open"] {
      visibility: visible;
      transform: translateX(0%);
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      align-items: flex-start;

      & > li {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        align-items: center;
      }
    }

    & a ~ hr {
      border: none;
      height: 0.2rem;
      width: 0rem;
      background-color: var(--white);
      transition: width 0.3s ease-out;
    }

    & a:hover ~ hr {
      width: 100%;
    }

    & button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    & > * {
      @include u.breakpoint("medium") {
        grid-column: 1 / 9;
      }
    }

    @include u.breakpoint("medium") {
      padding: 0rem;
      display: grid;
      grid-template-columns: repeat(8, 6.5rem);
      gap: 2.4rem;
      justify-content: center;
    }

    @include u.breakpoint("large") {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;

    & ul {
      display: none;

      & > li {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        align-items: center;
      }

      & a ~ hr {
        border: none;
        height: 0.2rem;
        width: 0rem;
        background-color: var(--white);
        transition: width 0.3s ease-out;
      }

      & a:hover ~ hr {
        width: 2.4rem;
      }

      @include u.breakpoint("large") {
        display: flex;
        gap: 3.4rem;
      }
    }

    & button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &[data-for="open"] {
        @include u.breakpoint("large") {
          display: none;
        }
      }

      &[data-for="close"] {
        display: none;
      }
    }

    & nav {
      display: none;

      @include u.breakpoint("large") {
        display: block;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  & h1 {
    box-sizing: content-box;
    padding: 2.6rem 2.4rem 2.4rem 2.4rem;
    margin-top: 16.3rem;
    border: 0.2rem solid var(--white);
    max-width: 28rem;

    @include u.breakpoint("medium") {
      max-width: 12ch;
      margin-top: 9.53rem;
    }

    @include u.breakpoint("large") {
      margin-top: 12.3rem;
    }
  }

  @include u.breakpoint("medium") {
    padding-bottom: 12.43rem;
  }

  @include u.breakpoint("large") {
    padding-bottom: 14.6rem;
  }
}
