:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
