@mixin text-josefin-base {
  font-family: var(--font-josefin-sans);
  font-optical-sizing: auto;
  font-weight: 300;
}

.text-heading-1 {
  @include text-josefin-base;
  font-size: clamp(4rem, 6vw, 7.2rem);
  line-height: clamp(3.8rem, 6vw, 7rem);
  letter-spacing: 0rem;
}

.text-heading-2 {
  @include text-josefin-base;
  font-size: clamp(3.2rem, 5vw, 4.8rem);
  line-height: clamp(3.2rem, 5vw, 4.8rem);
  letter-spacing: 0rem;
}

.text-heading-3 {
  @include text-josefin-base;
  font-size: clamp(2.4rem, 4vw, 3.2rem);
  line-height: clamp(2.4rem, 4vw, 3.2rem);
}

.text-body {
  font-family: var(--font-alata);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0rem;
}

.text-overlay {
  @include text-josefin-base;
  font-size: 2.4rem;
  line-height: 2.5rem;
  letter-spacing: 0rem;
}

.text-button {
  font-family: var(--font-alata);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.5rem;
}
